html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:top;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;color:#333}a:hover{text-decoration:none}a:hover{text-decoration:none}
body{
	overflow-x: hidden;
    font-family: 'Noto Sans JP', sans-serif;
}
/* =========================== RESET */
.gradient{
    background: linear-gradient(135deg, #eb5757, #000000);
    min-height: 100vh;
}
.logoFatec{
    width: 250px;
    text-align: center;
    margin: auto;
    filter: brightness(0) invert(1);
}
.logo{
    width: 300px;
    text-align: center;
    margin: 30px auto;
    filter: brightness(0) invert(1);
}
.input-professor {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.label{
    color: white;
    text-align: left;
}
#content-opcoes{
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#content-opcoes > .opcoes {
    width: 49%;
    display: inline-block;
    margin: 0px auto;
   /* margin: calc(50vh - 100px) 0;*/
    min-height: 200px; 
    border: solid 1px #c8c8c8;
    border-radius: 10px;
    background-color: #f7f7f7;
}
.card-login{
    max-width: 100%;
    margin: 0 auto;
    padding:20px;
    border-radius: 10px;
    text-align: center;
    background:white;
}
.input-login{
    border:none;
    border-bottom: solid 1px black;
    padding:5px;
    display:block;
    text-align:left;
    width: 100%;
}
.btnLogar {
    background: black;
    border: solid 2px black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: ease-in 0.2s;
}
.btnLogar:hover{
    background-color: transparent;
    color: black;
    
    transition: ease-in 0.2s;
}
.label-login{
    color: black;
    text-align: left;
    display: block;
}
#content-opcoes > .opcoes > h2{
    font-size: 2em;
    margin: 10px 0;
}
.btnAcesso{
    padding: 10px;
    background: #ed213a;
    border: solid 2px #ed213a;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 90%;
    margin: 10px auto;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btnAcesso:hover{
    background:  transparent;
    color: #ed213a;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.btnStatus{
    padding: 10px;
    background: transparent;
    border: solid 2px #777;
    color: #777;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btnStatus:hover{
    background:  #777;
    color: white;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.wrapper-progressBar {
    width: 100%
}

.progressBar {
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    color: white;
    text-align: center;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: white;
}

.progressBar li.active:before {
    border-color: black;
    background-color: black
}

.progressBar .active:after {
    background-color: black;
}
.btnAgendar{
    width: 100%;
    background-color: #777;
    border: solid 2px #777;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding: 10px;
}
.btnAgendar:hover{
    background-color: transparent;
    border: solid 2px #333;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.btnEditar{
    padding: 10px;
    background-color: goldenrod;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 49.5%;
    margin: 10px auto;
    border:none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all ease-in 0.2;
}
.btnAceitar{
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 49.5%;
    margin: 10px auto;
    border:none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all ease-in 0.2;
}
.btnCalendario{
    padding: 10px;
    background-color: steelblue;
    border:solid 2px steelblue;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 150px;
    margin: 10px auto;
    border:none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all ease-in 0.2;
}
.btnCalendario:hover{
    background-color: transparent;
    border:solid 2px steelblue;
}
.btnRecusar{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 49.5%;
    margin: 10px auto;
    border:none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all ease-in 0.2;
}
